
        body{
            background-color: none;
            background-image: url("");
            background-repeat: no-repeat;
            background-blend-mode: darken;
        }

        h1{
            font-size: 70px;
            color: black;
            font-family: Arial;
            text-align: center;
            line-height: 90px;
            background-color: none;
            background-image: url("background_h1.jpg");
        }

      

        header > #Navigation{
            font-size: 35px;
            color: black;
            font-family: Arial;
        }
    